.main-container {
  width: 95.7%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow: auto;
    position: absolute;
    left: 2%;
    bottom: 3px;
    -webkit-mask-image: -webkit-gradient(linear, 93% top, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

.cards-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.t2 {
  border-spacing: 6px;
  top: 35px;
  position: absolute;
  left: 16.9%;
}
.t2-container {    
  height: 335px;
  scale: 1.5;
  top: 68px;
  position: relative;
}

a {
  text-decoration: none;
}

.title {
  color: white;
  text-align: left;
  max-height: 109px;
  max-width: calc(100% - 4rem);
  overflow: hidden;
  text-overflow: ellipsis;
  position: fixed;
  top: 105px;
}

.titleHighlighted {
  color: rgb(237 155 204);
}

.titleNumbers{
  color: rgb(255 131 181);
}

.desc {
  color: white;
  text-align: left;
  height: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  position: absolute;
  display: none;
  padding: 7px;
  top: 17px;
  left: 17px;
  width: 334px;
  background-color: rgba(0, 0, 0, 0.6);
}

.wrap {
  transform-style: preserve-3d;
  transform: perspective(100rem);

  cursor: pointer;
}

.container {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  width: 17vw;
  height: 18vh;
  border: 1px solid var(--background-color);
  border-radius: 1.6rem;
  padding: 2rem;

  display: flex;
  align-items: flex-end;

  position: relative;
  transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));

  box-shadow: 0 0 3rem 0.5rem hsla(0, 0%, 0%, 0.2);

  transition: transform 0.6s 1s;
}

.container::before,
.container::after {
  content: "";

  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;

  position: absolute;
  z-index: 2;

  opacity: 0.3;
  transition: 0.3s;
}

.container::before {
  top: 1rem;
  right: 1rem;

  border-bottom-width: 0;
  border-left-width: 0;
}

.container::after {
  bottom: 1rem;
  left: 1rem;

  border-top-width: 0;
  border-right-width: 0;
}

.container--active {
  transition: none;
}

.container--2 {
  filter: hue-rotate(80deg) saturate(140%);
}

.container--3 {
  filter: hue-rotate(160deg) saturate(140%);
}

.wrap:hover .container::before,
.wrap:hover .container::after {
  width: calc(100% - 2.08rem);
  height: calc(100% - 2.08rem);
}

.wrap:hover .desc {
  display: block;
}

.wrap:hover .title {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, 0.6);
  font-size: 1.6rem;
}

/* -------------------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */

body {
  /* background-color: #2f2f2f;  */
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-blend-mode: multiply;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
.b1 {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(./b.png);
  background-attachment: fixed;
  background-position: center;
}
.b2 {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url(./b2.jpg);
  background-attachment: fixed;
  background-position: center;
}
.b3 {
  background-color: rgba(0, 0, 0, 0.35);
  background-image: url(./b3.jpg);
  background-attachment: fixed;
  background-position: center;
}
.ww-box {
  border-radius: 7px;
}
.rad {
  border-radius: 7px;
  background-image: url(./gr.png);
  background-position: center;
}
.tempM {
  height: 97px;
  width: 138px;
  margin-right: 15px;
}
#cover {
  position: fixed; 
  height: 100%; 
  width: 100%; 
  top:0; left: 0; 
  background: #282828; 
  z-index:9999;
  display: flex;
  justify-content: center;
}
.FullCenter{
  top: 46%;
  position: absolute;
  font-size: 32px;
}
.tasks {
  padding: 5px;
}
.task {
  font-size: 11px;
}
.todoist {
  text-align: left;
  border-radius: 7px;
  background-image: url(./gr.png);
  background-position: center;
  height: 216px;
  width: 138px;
  overflow: hidden;
}
.tempM2 {
  height: 97px;
  width: 138px; 
  margin-left: 0vw;
  margin-top: 20vh;
  scale: 1.7;
}
.timeM {
  height: 97px;
  width: 138px;
  margin-right: 40px;
}
.zakatM {
  height: 97px;
  width: 138px;
  margin-right: 19px;
}
.timeM2 {
  font-size: 250%;
}
.timeM3 {
  font-size: 135%;
  color: #8f8f8f;
}
.ti {
  width: 23px;
  height: 34px;
  position: relative;
  top: 3px;
}
.hi {
  width: 23px;
  height: 34px;
  position: relative;
  top: 3px;
}
.rasIcon {
  width: 33px;
  height: 34px;
  position: relative;
  top: 3px;
}
.zakIcon {
  width: 32px;
  height: 34px;
  position: relative;
  top: 3px;
}
.inl {
  position: relative;
  top: 0.8vh;
  font-size: 157%;
}
.t1 {
  border-spacing: 5px 0px;
}
.bs {
  box-shadow: 3.2px 2.4px 2px rgba(0, 0, 0, 0.063),
    7.6px 5.7px 4.8px rgba(0, 0, 0, 0.091),
    14.4px 10.8px 9px rgba(0, 0, 0, 0.105),
    25.7px 19.2px 16.1px rgba(0, 0, 0, 0.111),
    48px 35.9px 30.1px rgba(0, 0, 0, 0.117), 115px 86px 72px rgba(0, 0, 0, 0.15);
}
.s1 {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 9px;
  border-radius: 15px;
  width: 600px;
  border: none;
}
.s1:hover {
  background-color: rgba(235, 235, 235, 0.5);
  padding: 9px;
  border-radius: 15px;
  width: 600px;
  border: none;
}
.s1:focus {
  outline: solid 0.01rem #fff;
}
.s2 {
  background: none;
  position: absolute;
  right: 0%;
  top: 4%;
  height: 33px;
  border: none;
  cursor: pointer;
}
.s3 {
  scale: 1.4;
  width: fit-content;
  position: relative;
  top: 15px;
}
.timeM4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mobile {
  display: none;
}

@media (max-width: 540px) {
  .allC {
    display: none;
  }
  .mobile {
    display: block;
  }
}

/* Скроллбар 
:root {
  --scrollbarBgColor: rgb(65 65 65 / 5%);
    --scrollbarThumbColor: rgb(255 255 255 / 6%);
    --scrollbarThumbColorSecond: rgb(111 111 111 / 70%);
  --scrollbarWidth: 1px;
  --scrollbarBorder: 0 solid var(--scrollbarBgColor);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
}

*::-webkit-scrollbar
{
  width: var(--scrollbarWidth);
  height: var(--scrollbarWidth);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBgColor);
  border-radius: var(--scrollbarBorderRadius);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumbColor);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
  background-image: linear-gradient(
    180deg,
    var(--scrollbarThumbColor) 0%,
    var(--scrollbarThumbColorSecond) 90%
  );
}

*/
::-webkit-scrollbar
{
width: 7px;
height: 5px;
}
::-webkit-scrollbar-track-piece
{
background-color: rgba(125, 125, 125, 0.2);
-webkit-border-radius: 1px;
}
::-webkit-scrollbar-thumb
{
height: 5px;
background-color: rgb(255 255 255 / 10%); 
-webkit-border-radius: 1px;
}